.page-title{
  font-size: 50px;
  text-align: center;
  border-bottom: crimson solid 3px;
  margin: 0 150px 10px;
}
.form{
  margin: 0 auto;
  width: 570px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.form-group{
  width: 570px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-text{
  font-weight: bold;
}

.form-box{
  display: flex;
}

.form-box p {
  padding: 0 20px;
  font-size: 15px;
}

.form-control{
  width: 430px;
}

textarea{
  width: 100%;
  height: 100px;
  resize: vertical;
}

.error-alert{
  margin-left: 140px;
}

.privacy-policy{
  margin-top: 10px;
}

.submit-btn{
  width: 145px;
  background: #C80850;
  border: 1px solid white;
  color: white;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0;
}

.field_with_errors {
  display: contents;
}