.page-title{
  font-size: 50px;
  text-align: center;
  border-bottom: crimson solid 3px;
  margin: 0 150px 10px;
}
.form{
  margin: 0 auto;
  border: solid red 1px;
  width: 40vw;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form-group{
  border: solid blue 1px;
  width: 40vw;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.submit-btn{
  text-align: center;
}