<footer class="footer">
  <div class="footer-top">
    <div>
      <%= image_tag "grouplogo.png", size: '50x50', class:"group-logo" %>
    </div>
    <div>
      <h3>TSUYUKI Group</h3>
    </div>
  </div>
  <div class="copy-right">
    <a>Copyright © TSUYUKI Group. All Right Reserved.</a>
  </div>
</div>