<header class='header'>
  <div class='header-title'>
    <div>
      <a href="/"><%= image_tag "grouplogo.png", size: '85x85', class:"group-logo" %></a>
    </div>
    <div>
      <h3><%= link_to 'TSUYUKI Group', root_path %></h3>
    </div>
  </div>
  <div class='header-bar'>
    <ul class='header-lists'>
      <li class='header-list'>
        <a>グループ概要</a>
      </li>
      <li class='header-list'>
        <a>施設紹介</a>
      </li>
      <li class='header-list'>
        <%= link_to '採用情報', new_information_path, class: "information" %>
      </li>
    </ul>
  </div>
</header>
