<header class='header'>
  <div class='header-title'>
    <div>
      <%= image_tag "grouplogo.png", size: '85x85', class:"group-logo" %>
    </div>
    <div>
      <h3>TSUYUKI Group</h3>
    </div>
  </div>
  <div class='header-bar'>
    <ul class='header-lists'>
      <li class='header-list'>
        <a>グループ概要</a>
      </li>
      <li class='header-list'>
        <a>施設紹介</a>
      </li>
      <li class='header-list'>
        <a>お問い合わせ</a>
      </li>
      <li class='header-list'>
        <a>採用情報</a>
      </li>
    </ul>
  </div>
</header>
