<%= render "shared/header" %>
<div class='main'>
  <div class='top-content'>
    <h3 class='group-title'>あなたが望む暮らしの実現のため<br>24時間365日切れ目のないサポートを</h3>
  </div>
  <div class='title'>
    <h3>Group Information</h3>
  </div>
  <div class='group-philosophy'>
    <h3>人生のオープニングからフィナーレまであなたたとあなたの大切なご家族を様々な
        機関や職種と連携しながら私たちが全力でサポートします！！</h3>
  </div>
  <div class='group-info'>
    <ul class='company-lists'>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>80有余年地域で暮らし地域を支える診療所</h2>
        </div>
        <div class='company-name'>
          <h1>露木耳鼻咽喉科</h1>
        </div>
        <div class='company-info'>
          <a>耳鼻科医として、また外来医療・入院医療についで第三の医療である在宅医療を
            担う在宅医としての診療を行っています。在宅医療とは、大切な家族の誰かが病気に
            なり、通院できない場合に自宅などで診療を行うことを言います。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>家族のように暖かいクリニックを目指します</h2>
        </div>
        <div class='company-name'>
          <h1>つゆきこどもクリニック</h1>
        </div>
        <div class='company-info'>
          <a>病気を治すことはもちろんですが、かかりつけ医として発育や成長を一緒に支え見守り、
            子育てに頑張るお母さんやお父さんの支援が少しでもできればと考えています。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>もう一つの我が家</h2>
        </div>
        <div class='company-name'>
          <h1>シェハウス　萌芽（ほうが）</h1>
        </div>
        <div class='company-info'>
          <a>ここは病院や施設ではなく、様々な理由で自宅や施設・病院での療養が難しくなった方々が
            温もりを感じながら暮らせる「もう一つの我が家」です。ご本人の状態に合わせ訪問看護師・
            ヘルパーなどを使用し暮らしをサポートします。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>子供達の安全　家族の安心<br>みんなの笑顔の輪</h2>
        </div>
        <div class='company-name'>
          <h1>多機能型重症児デイサービス<br>笑む（えむ）</h1>
        </div>
        <div class='company-info'>
          <a>重症児（医療的ケア児）の支援を行い、ご家族の精神的・肉体的負担を減らし、少しでも
            暮らしやすくなるようサポートします。医療ケアが必要なお子様であっても、遊びなどの多
            くの経験をさせてあげながら成長過程を見守ります。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>手の温もりが伝わる看護を届けます</h2>
        </div>
        <div class='company-name'>
          <h1>訪問看護ステーション<br>つゆき</h1>
        </div>
        <div class='company-info'>
          <a>病気や障害を持った方が住み慣れた地域やご家庭で、その人らしい療養生活が遅れるように、
          看護師やリハビリスタッフが生活する場へ訪問し、最適なケアを提供して、ご本人やご家族を支えます</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>自分らしく生きることをサポートします</h2>
        </div>
        <div class='company-name'>
          <h1>くらしの保健室晴ればれ</h1>
        </div>
        <div class='company-info'>
          <a>学校の保健室のような、くらしの中で安心できる地域の保健室です。看護師や保健師、専門職の
          ボランティアが常駐し、健康面での相談や悩み事など、気軽に相談できる場所です。事前予約は一切不要。相談料も無料です。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>あなたの笑顔のために・・・<br>心に寄り添う支援をします</h2>
        </div>
        <div class='company-name'>
          <h1>ケアプランセンター<br>ながぬま</h1>
        </div>
        <div class='company-info'>
          <a>自分らしく自立した生活を送るために必要な、介護や医療のサービスを心身の状態に合わせて
          適切に利用できるように計画書（ケアプラン）を作成します。ご本人やご家族のご意向を丁寧に伺い、
          支援に携わる様々な職種と相談・連携します。</a>
        </div>
      </li>
      <li class='company-list'>
        <div class='company-text'>
          <h2 class='list-title'>家族のような温もりで支えます</h2>
        </div>
        <div class='company-name'>
          <h1>ヘルパーステーション　つゆき</h1>
        </div>
        <div class='company-info'>
          <a>在宅で生活されている方で介護が必要な高齢者・長期療養者・心身障害者に対して、安心して
          生活いただけるようにホームヘルパーを派遣して身体に必要な介護と、洗濯・買物・調理など生活支援
          を行うサービスを提供します</a>
        </div>
      </li>
    </ul>
  </div>
  <div class='title'>
    <h3>Group Intoduction</h3>
  </div>
  <div class="group-introduction">
    <div class="youtube">
      <iframe width="560" height="315" 
      src="https://www.youtube.com/embed/n8X9_MgEdCg" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe>
    </div>
  </div>
  <div class='title'>
    <h3>Group History</h3>
  </div>
  <div class="group-history">
    <ul class="history-lists">
      <li class="history-list">
        <div class="date">
          <p>昭和5年2月21日</p>
        </div>
        <div class="text">
          <a>甲府市柳町四丁目60番地の現在地に露木耳鼻咽喉科医院開業<br>初代院長　露木 寛</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>昭和48年4月2日	</p>
        </div>
        <div class="text">
          <a>二代院長　露木 光彦</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成2年5月9日</p>
        </div>
        <div class="text">
          <a>三代院長　露木 弘光</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成19年5月</p>
        </div>
        <div class="text">
          <a>露木耳鼻科訪問看護部設立</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成20年</p>
        </div>
        <div class="text">
          <a>在宅支援診療所 標榜</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成21年10月1日</p>
        </div>
        <div class="text">
          <a>株式会社洗心設立</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成24年1月1日</p>
        </div>
        <div class="text">
          <a>訪問看護ステーションつゆき開所</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成25年9月1日</p>
        </div>
        <div class="text">
          <a>ケアプランセンターながぬま開所</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成26年8月</p>
        </div>
        <div class="text">
          <a>シェアハウス「萌芽」オープン</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成26年9月9日</p>
        </div>
        <div class="text">
          <a>つゆき子どもクリニックオープン</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成30年4月18日</p>
        </div>
        <div class="text">
          <a>一般社団法人はーとtoはーと設立</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成30年6月26日</p>
        </div>
        <div class="text">
          <a>一般社団法人晴設立</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成30年9月1日</p>
        </div>
        <div class="text">
          <a>多機能型重症児デイサービス「笑む」オープン</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成30年12月16日</p>
        </div>
        <div class="text">
          <a>暮らしの保健室「晴ればれ」オープン</a>
        </div>
      </li>
      <li class="history-list">
        <div class="date">
          <p>平成31年1月1日</p>
        </div>
        <div class="history-text">
          <a>ヘルパーステーションつゆき開所</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>